/* Estilos generales */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos del encabezado */
header {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
}

/* Estilos de las secciones principales */
.about-me,
.education,
.interests,
.external-link {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ecf0f1;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-me img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.education table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.education th,
.education td {
  border: 1px solid #3498db;
  padding: 10px;
  text-align: left;
}

/* Estilos del pie de página */
footer {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Media queries para estilos responsivos */
@media only screen and (max-width: 600px) {
  .about-me,
  .education,
  .interests,
  .external-link {
    padding: 10px;
  }
}
