/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos del encabezado */
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  header h1 {
    margin: 0;
  }
  
  /* Estilos de la sección de la receta */
  .recipe {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .recipe img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .ingredients,
  .instructions {
    margin-bottom: 20px;
  }
  
  /* Estilos del pie de página */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  /* Media queries para estilos responsivos */
  @media only screen and (max-width: 600px) {
    .recipe {
      padding: 10px;
    }
  }
  